@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-bold";
  src: url("./assets/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-semi-bold";
  src: url("./assets/Poppins/Poppins-Medium.ttf") format("truetype");
}
