<div class="container-fluid">
  <app-header-part></app-header-part>
  <div class="margin-top-table-dashboard">
    <div class="sub-heading-on-module">
      Doctor List <span>({{ listDto?.length }})</span>
    </div>
    <div class="add-buttons">
      <label class="add-button-label" (click)="addModal()">+ Add Doctor</label>
    </div>
  </div>

  <div
    class="custom-bg-white global-rounded custom-box-shadow table-overflow-auto mt-2 mb-5"
  >
    <div class="table-custom-responsive table-list-container">
      <table class="table table-list">
        <thead class="table-border-top">
          <tr>
            <th>Name</th>
            <th>Phone No.</th>
            <th>Email</th>
            <th>Address</th>
            <th>Consultant Fees</th>
            <th>Specialist Type</th>
            <th>Working Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="listDto.length > 0">
          <tr *ngFor="let data of listDto" class="table-without-line">
            <td class="table-list-highlighted-text">
              <span
                *ngIf="data?.doctorName"
                matTooltip="{{ data?.doctorName }}"
              >
                {{ data.doctorName | titlecase | slice: 0:18 }}
                <span *ngIf="data.doctorName.length > 18">...</span></span
              >
            </td>
            <td>{{ data?.phoneNo }}</td>
            <td>{{ data?.emailId }}</td>
            <td>{{ data?.address }}</td>
            <td>{{ data?.consultantFees }}</td>
            <td>{{ data?.specialistType }}</td>
            <td>{{ data?.workingTime }}</td>
            <td>
              <div class="icons web-view">
                <mat-icon (click)="editModal(data)" class="mr-4 cursor-pointer"
                  >edit</mat-icon
                >
                <mat-icon (click)="deleteModal(data)" class="cursor-pointer"
                  >delete</mat-icon
                >
              </div>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="listDto.length == 0">
          <tr>
            <td colspan="100%">No Doctor Available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- </div> -->
</div>
