<div class="input-and-date d-flex">
  <div class="custom-col-5">
    <div class="logo-box">
      <img src="assets/png/doctor-logo.png" class="logo-image" />
    </div>
  </div>
  <div class="custom-col-8 web-view"></div>
  <br />
</div>
<div class="input-and-date d-flex mobile-view" *ngIf="pageName == 'Dashboard'">
  <div class="custom-col-4">
    <div class="logo-box-dashboad">
      <img src="assets/png/doctor-logo.png" class="logo-image" />
    </div>
  </div>
  <div class="custom-col-8 mobile-view"></div>
</div>
