@import "../../../../scss/variable.scss";
.counts-container {
  display: flex;
  width: 350px;
  height: 100px;

  .counts-value {
    font-size: 43px;
    color: #641934;
    text-align: center;
    width: 100%;
  }
  .counts-label {
    font-size: 14px;
    color: #808080;
  }
}
.custom-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
