<div class="custom-row" style="padding: 0px 0px 25px 0px">
  <div class="col-md-6">
    <div class="custom-bg-white global-rounded custom-box-shadow width-80">
      <div class="counts-container six-full-size">
        <div class="counts-value">
          <span id="meetings"> {{ meetings }}</span>
          <br />
          <span class="counts-label">Total 1-2-1's</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 customer-count-top-bottom">
    <div
      class="custom-bg-white global-rounded custom-box-shadow width-80 float-right"
    >
      <div class="counts-container six-full-size">
        <div class="counts-value">
          <span id="referrals"> {{ referrals }} </span><br />
          <span class="counts-label">Total Refrerrals Passed</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-4">
    <div
      class="custom-bg-white global-rounded custom-box-shadow width-40 m-auto"
    >
      <div class="counts-container six-full-size">
        <div class="counts-value">
          <span id="amount">{{ amount }} </span>
          <br />
          <span class="counts-label">Total Amount of Businees </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-4">
    <div class="custom-bg-white global-rounded custom-box-shadow width-80">
      <div class="counts-container six-full-size">
        <div class="counts-value">
          <span id="visitor">
            {{ visitor }}
          </span>
          <br />
          <span class="counts-label">Visitors Invited Today</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-4">
    <div
      class="custom-bg-white global-rounded custom-box-shadow width-80 float-right"
    >
      <div class="counts-container six-full-size">
        <div class="counts-value">
          <span id="testimonials">
            {{ testimonials }}
          </span>
          <br />
          <span class="counts-label">Testimonials Passed</span>
        </div>
      </div>
    </div>
  </div>
</div>
