<div class="custom-row" style="padding: 0px 0px 25px 0px">
  <div class="col-md-12">
    <div
      class="custom-bg-white global-rounded custom-box-shadow width-40 m-auto"
    >
      <div class="counts-container six-full-size">
        <div class="counts-value">
          <div>{{ bookedAppooinment ? bookedAppooinment : 0 }}</div>
          <div class="counts-label">Booked Appoinment</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-3">
    <div
      class="custom-bg-white global-rounded custom-box-shadow width-40 m-auto"
    >
      <div class="counts-container six-full-size">
        <div class="counts-value">
          <div>{{ unBookedAppoinment ? unBookedAppoinment : 0 }}</div>
          <div class="counts-label">UnBooked Appoinment</div>
        </div>
      </div>
    </div>
  </div>
</div>
