<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <div class="logo-box">
        <img src="assets/png/logo-2.png" class="logo-image" />
      </div>
    </div>

    <ul class="list-unstyled components ul-height-overflow">
      <li>
        <a [routerLink]="['dashboard']" routerLinkActive="active-router">
          <img
            src="assets/side-nav/white/dashboard.svg"
            matTooltip="dashboard"
            class="side-bar-icons"
          />
          <span matTooltip="Dashboard"> Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['stats']" routerLinkActive="active-router">
          <img
            src="assets/side-nav/white/feedback.svg"
            matTooltip="State-List"
            class="side-bar-icons"
          />
          <span matTooltip="Stats-List"> Stats List</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['members']" routerLinkActive="active-router">
          <img
            src="assets/side-nav/white/customer.svg"
            matTooltip="Members-List"
            class="side-bar-icons"
          />
          <span matTooltip="Members-List"> Members List</span>
        </a>
      </li>
      <li class="log-out-option">
        <a class="cursor-pointer" (click)="openPopLogout()">
          <img
            src="assets/sidebarImages/logout.svg"
            class="side-bar-icons mr-4"
            matTooltip="Logout"
          />
          <span matTooltip="Logout"> Logout</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
<div class="loader" *ngIf="loading">
  <div>
    <mat-spinner> </mat-spinner>
  </div>
</div>
