<div
  class="container-fluid bg-image"
  style="background: url('assets/images/png/loginBackkground3.png');"
>
  <div class="d-flex custom-row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div
        class="global-shadow resetPassword-mat-card p-3 custom-bg-white rounded-border"
      >
        <div class="logo-box-2">
          <img src="assets/images/png/logo-login.png" class="logo-image-2" />
        </div>

        <div class="reset-password">
          <span> Reset Your Password ?</span>
        </div>
        <form [formGroup]="form" (ngSubmit)="checkResetPasswordData()">
          <mat-form-field class="example-full-width input-size">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
              required
            />
            <mat-error
              *ngIf="
                form.controls['password'].errors?.required &&
                (form.controls['password']?.dirty ||
                  form.controls['password']?.touched)
              "
            >
              Password is required
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width input-size">
            <input
              matInput
              type="text"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              required
            />
            <mat-error
              *ngIf="
                form.controls['confirmPassword'].errors?.required &&
                (form.controls['confirmPassword']?.dirty ||
                  form.controls['confirmPassword']?.touched)
              "
            >
              Confirm Password is required
            </mat-error>
          </mat-form-field>

          <div class="float-right mt-1">
            <input
              type="submit"
              class="resetPassword-buttons-2"
              value="Done"
              [disabled]="resetPasswordBoolean"
            />
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
