<div
  class="container-fluid bg-image"
  style="background: url('assets/images/png/loginBackkground3.png');"
>
  <div class="d-flex">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div
        class="global-shadow forgotpassword-mat-card p-3 custom-bg-white rounded-border"
        *ngIf="!mailSendSuccessfully"
      >
        <div class="logo-box-2">
          <img src="assets/images/png/logo-login.png" class="logo-image-2" />
        </div>
        <div class="forgot-password-mail">
          <span>Forgot Your Password ?</span>
        </div>
        <form [formGroup]="form" (ngSubmit)="checkForgotPasswordData()">
          <mat-form-field class="example-full-width input-size">
            <input
              matInput
              type="email"
              placeholder="Type your Email"
              formControlName="email"
              required
            />
            <mat-error
              *ngIf="
                form.controls['email'].errors?.required &&
                (form.controls['email']?.dirty ||
                  form.controls['email']?.touched)
              "
            >
              Email is required
            </mat-error>
            <mat-error
              *ngIf="
                !form.controls['email'].errors?.required &&
                !form.controls['email']?.valid
              "
            >
              Email is not valid
            </mat-error>
          </mat-form-field>
          <div>
            <input
              type="submit"
              class="before-login-button"
              value="Send"
              [disabled]="forgotPasswordSentMailBoolean"
            />
          </div>
        </form>
      </div>

      <div
        class="global-shadow forgotpassword-mat-card p-3 custom-bg-white rounded-border"
        *ngIf="mailSendSuccessfully"
      >
        <div class="logo-box-2">
          <img src="assets/images/png/logo-login.png" class="logo-image-2" />
        </div>
        <div class="send-mail-text">
          <div>Check Your Email ID for</div>
          <br />
          <div class="mt-3">Password Reset.</div>
        </div>
        <div class="float-right mt-2">
          <input
            type="submit"
            class="forgotpassword-buttons-2"
            (click)="goto('auth')"
            value="Goto Login"
          />
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
